<link rel="stylesheet" href="./css/MyEvent.css">
<br>
<section>
  <div class="container">
    <h1>My Event</h1>
    <br>
    <div class="row">
      <% events.forEach((event) => { %>
        <div class="col-md-4">
          <div class="card event-card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <img src="<%= event.imagePath %>" alt="<%= event.title %> Image" class="event-image">
                </div>
                <div class="col-md-12"> 
                  <h5 class="card-title"><%= event.nama_event %></h5>
                  <p class="card-text">Divisi: <%= event.klasifikasi_divisi %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
  <div id="pagination" class="pagination">
    <% if (currentPage > 1) { %>
      <button class="page-button" onclick="changePage(<%= currentPage - 1 %>)">Previous</button>
    <% } %>

    <% for (let i = 1; i <= totalPages; i++) { %>
      <button class="page-button <%= (i === currentPage) ? 'active' : '' %>" onclick="changePage(<%= i %>)"><%= i %></button>
    <% } %>

    <% if (currentPage < totalPages) { %>
      <button class="page-button" onclick="changePage(<%= currentPage + 1 %>)">Next</button>
    <% } %>
  </div>
</section>

<script>
  function changePage(page) {
    console.log('Changing to page:', page);
    window.location.href = '?page=' + page;
  }
</script>
<script src="./js/MyEvent.js"></script>
